<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/layouts/commonLayouts.xhtml">

	<ui:define name="content">
		<link rel="stylesheet" href="css/style.css" type="text/css" />

		<h:head>
			<title>ANACompute | Home</title>
		</h:head>


		<h:form class="searchHeader" id="seach">
			<h:inputText binding="#{input1}" />
			<h:commandButton value="Search"
				action="#{storeManager.executeSearch(input1.value)}" />
		</h:form>
		<body>


			<h:dataTable value="#{storeManager.productList}" var="o">
				<h:column class="col1">
					<div class="card">

						<f:facet name="header"></f:facet>
						<h:graphicImage value="#{o.imageUrl}" width="100px" height="100px" />
						<h1>#{o.productName}</h1>
						<p>$#{o.productCost} There are only #{o.productAmount} in stock!</p>
						<p>#{o.productDiscription}</p>
						<h:form>
							<p>
								<h:commandButton action="#{storeManager.purchase(o)}"
									value="Buy" styleClass="button" />


							</p>
							<p>
								<h:commandButton action="#{storeManager.view(o)}"
									value="View"></h:commandButton>
							</p>

						</h:form>
						<div>
							<h:form>


							</h:form>
						</div>
					</div>
				</h:column>
				<h:column>

				</h:column>


			</h:dataTable>
		</body>
	</ui:define>
</ui:composition>






</html>